// @import 'textfield';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: 1;
  font-family: sans-serif;
}

iframe {
  border: 0;
}

main {
  display: block;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  display: block;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}

blockquote {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

strong {
  font-weight: bold;
}

figure {
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}


// ******
// Custom
// ******

body {
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
}

body.fullstaff {
  background-color: #263238;
  animation: fullstaffColorChange 2s 0s ease 1 forwards;
}

body.halfstaff {
  background-color: #B0BEC5;
  animation: halfstaffColorChange 4s 0s ease 1 forwards;
}

@keyframes halfstaffColorChange {
  0% {
    background-color: #B0BEC5;
  }
  100% {
    background-color: #263238;
  }
}

@keyframes fullstaffColorChange {
  0% {
    background-color: #263238;
  }
  100% {
    background-color: #B0BEC5;
  }
}

.header {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2em;
  margin-bottom: 2em;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header .title {
  font-size: 2em;
  font-weight: 300;
  line-height: 1em;
}

.header .title small {
  font-size: 16px;
  line-height: 18px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: -1em;
}

.header ul li {
  margin: 0;
  padding: 6px;
  margin-right: 1em;
}

.center { text-align: center; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin: 0;
  margin-right: -10vw;

  box-sizing: border-box;
  padding: 1em;
  margin-top: 0;
}

.flag, .cards {
  margin-right: 10vw;
}

.flag {
  width: 150px;
}

.cards {
  margin-top: -80px;
}

.card {
  max-width: 440px;
  background-color: #fff;
  padding: 6px;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  margin-bottom: 2em;
}

.card .title,
.card .text,
.card .meta,
.card .actions {
  padding: 16px;
}

.card .title h3 {
  font-weight: 700;
  line-height: 1em;
}

.card .title h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.card .title h2 a {
  color: inherit;
  text-decoration: none;
}

.card .text,
.card .meta {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 90%;
  color: rgba(0,0,0,.54);
}

.card .text p {
  margin-bottom: 1em;
}

.card .text p:last-child {
  margin-bottom: 0;
}

.card .text a {
  color: #01579B
}

.card .meta .time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .meta .time div {
  flex: 1 0 50%;
}

.card .meta .time .label {
  font-weight: 700;
}

.card .actions a {
  color: #01579B;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.recent .recent-notice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.recent .recent-notice a {
  font-weight: 300;
  color: inherit;
  text-decoration: none;
}

.recent .recent-notice small {
  text-align: right;
  /*min-width: 100px;*/
  white-space: nowrap;
  padding-left: 1em;
}

@media screen and (min-width: 750px) {
  .main {
    flex-direction: row;
    padding: 0;
    margin-top: 20vh;
    align-items: flex-start;
  }

  .flag {
    width: 200px;
  }

  .cards {
    margin-top: 0;
  }
}

// Flag

.cls-1 {
  fill: #c03a2b;
}
.cls-2 {
  fill: #d1d4d1;
}
.cls-3 {
  fill: #556080;
}
.cls-4 {
  fill: #0096e6;
}
.cls-5 {
  fill: #8697cb;
}
.cls-6 {
  fill: #285680;
}
.cls-7 {
  fill: #fff;
}
.cls-8 {
  fill: #f0c419;
}
.cls-9 {
  fill: #701919;
}
.cls-10 {
  fill: #ecf0f1;
}
.cls-11 {
  fill: #e64c3c;
}

.halfstaff .banner {
  transform: translateY(0px);
  animation: halfstaff 4s 0s ease 1 forwards;
}

.fullstaff .banner {
  transform: translateY(80px);
  animation: fullstaff 2s 0s ease 1 forwards;
}

@keyframes halfstaff {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes fullstaff {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header ul .sms-link {
  border: 1px solid #fff;
  border-radius: 2px;
}
