// @import 'textfield';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: 1;
  font-family: sans-serif;
}

iframe {
  border: 0;
}

main {
  display: block;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  display: block;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}

blockquote {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

strong {
  font-weight: bold;
}

figure {
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}


// ******
// Custom
// ******



// Flag

.cls-1 {
  fill: #c03a2b;
}
.cls-2 {
  fill: #d1d4d1;
}
.cls-3 {
  fill: #556080;
}
.cls-4 {
  fill: #0096e6;
}
.cls-5 {
  fill: #8697cb;
}
.cls-6 {
  fill: #285680;
}
.cls-7 {
  fill: #fff;
}
.cls-8 {
  fill: #f0c419;
}
.cls-9 {
  fill: #701919;
}
.cls-10 {
  fill: #ecf0f1;
}
.cls-11 {
  fill: #e64c3c;
}

.halfstaff .banner {
  transform: translateY(0px);
  animation: halfstaff 4s 0s ease 1 forwards;
}

.fullstaff .banner {
  transform: translateY(80px);
  animation: fullstaff 2s 0s ease 1 forwards;
}

@keyframes halfstaff {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes fullstaff {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header ul .sms-link {
  border: 1px solid #fff;
  border-radius: 2px;
}
