.container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.childrenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin: 0;

  box-sizing: border-box;
  padding: 1em;
  margin-top: 0;
}

.flag {
  margin-right: 10vw;
}

.flag {
  width: 150px;
}

.children {
  margin-top: -80px;
  max-width: 440px;
}

@media screen and (min-width: 750px) {
  .childrenContainer {
    flex-direction: row;
    padding: 0;
    margin-top: 20vh;
    align-items: flex-start;
  }

  .flag {
    width: 200px;
  }

  .children {
    margin-top: 0;
  }
}
