.header {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2em;
  margin-bottom: 2em;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header .title {
  font-size: 2em;
  font-weight: 300;
  line-height: 1em;
}

.header .title small {
  font-size: 16px;
  line-height: 18px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-right: -1em;
}

@media screen and (min-width: 750px) {
  .header ul {
    flex-direction: row;
  }
}

.header ul li {
  margin: 0;
  padding: 6px;
  margin-right: 1em;
}

.header ul .smsLink {
  border: 1px solid #fff;
  border-radius: 2px;
}
