@import 'variables';

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 24px;
  padding: 0 2em 2em;

  a {
    color: $white;
    text-decoration: none;
  }

  .title {
    font-size: 2em;
    font-weight: 300;
    line-height: 1em;

    small {
      font-size: 16px;
      line-height: 18px;
    }
  }

  ul {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    margin-right: -1em;
    padding: 0;

    li {
      margin: 0;
      margin-right: 1em;
      padding: .5em;
    }
  }

  .notifications {
    border: 1px solid $white;
    border-radius: 3px;
    vertical-align: middle;
  }

  .logout {
    padding-right: 0;
  }

  button,
  .button,
  [type="button"],
  [type="submit"] {
    border-color: $white;
    color: $white;
    vertical-align: text-bottom;
  }
}

@media only screen and (min-width: 460px) {
  .header ul {
    align-items: center;
    flex-direction: row;
  }
}
