$page-bg-dark: #263238;
$page-bg-light: #b0bec5;
$white: #fff;
$black: #000;
$green: #090;
$red: #900;
$light-gray: #ddd;

$link-color: #01579b;

$card-shadow-1: rgba(0, 0, 0, .14);
$card-shadow-2: rgba(0, 0, 0, .2);
$card-shadow-3: rgba(0, 0, 0, .12);

$card-meta-color: rgba(0, 0, 0, .54);

$stripe-light-1: #f0f5fa;
$stripe-light-2: #e7eef6;
$stripe-light-3: #e4ecf5;
$stripe-light-4: #9babc2;
$stripe-light-5: #b5c3d8;
$stripe-light-6: #9cabc2;
$stripe-light-7: #556f88;
$stripe-light-8: #d7dee8;
$stripe-light-8: #eee;

$stripe-transparent-dark: rgba(0, 0, 0, .1);
$stripe-transparent-dark-2: rgba(0, 0, 0, .05);
$stripe-transparent: rgba(0, 0, 0, .2);
$stripe-transparent-light: rgba(255, 255, 255, .8);
$stripe-transparent-light-2: rgba(255, 255, 255, .25);
